* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: #1e1e2f;
    --header-color: #282c34;
    --body-color: #2b2e4a;
    --form-color: #282c34;
    --hn-color: #61dafb;
    --input-color: #1e1e2f;
    --footer-text-color: #aaa;
    --box-shadow-color: 0 4px 6px rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    background-color: var(--header-color);
    box-shadow: var(--box-shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    color: var(--hn-color);
}

header .logo {
    width: 40px;
    height: 40px;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header nav {
    width: max-content;
    height: max-content;
    padding: 10px 0px;
    position: relative;
}


header nav {
    display: flex;
    gap: 14px;
    align-items: center;
}

.btn_nav {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
}

.btn_nav a {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn_nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 20px 10px;
    align-items: center;
}

main form {
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 60%;
    box-shadow: var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

main form input {
    padding: 8px;
    width: 50%;
    background-color: #1e1e2f;
    border: none;
    color: #aaa;
    outline: none;
    border-radius: 4px;
}

.container_input {
    width: 100%;
    display: flex;
    gap: 4px;
}

main form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #1e1e2f;
    border: none;
    color: #aaa;
    outline: none;
}

main form input {
    width: 100%;
    padding: 8px;
}

main form input[type="submit"] {
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}


.menu_drop {
    padding: 10px;
    background-color: var(--body-color);
    width: 200px;
    height: 90px;
    position: absolute;
    border-radius: 8px;
    bottom: -106px;
    right: -14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--box-shadow-color);
}




.option_menu_drop {
    color: #aaa;
    cursor: pointer;
    width: 100%;
    height: 49%;
    border-radius: 4px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.option_menu_drop a {
    color: #aaa;
    text-decoration: none;
}

.hide {
    display: none;
}