* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: #1e1e2f;
    --header-color: #282c34;
    --body-color: #2b2e4a;
    --form-color: #282c34;
    --hn-color: #61dafb;
    --input-color: #1e1e2f;
    --footer-text-color: #aaa;
    --box-shadow-color: 0 4px 6px rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    background-color: var(--header-color);
    box-shadow: var(--box-shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    color: var(--hn-color);
}

header .logo {
    width: 40px;
    height: 40px;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header nav {
    width: max-content;
    height: max-content;
    padding: 10px 0px;
}

/* header nav a {
    text-decoration: none;
    background-color: white;
    padding: 6px 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: var(--bg-color);
    font-weight: 600;
    transition: background .3s ease-in-out;
} */

/* header nav a:hover {
    background-color: #aaa;
} */

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 20px 10px;
}

.container_bugs {
    width: 90%;
    min-height: 800px;
}

.container_search {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--body-color);

}

.container_search input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: #aaa;
    font-size: 16px;
    outline: none;
}

.container_search button {
    width: 10%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    outline: none;
    background-color: #1e1e2f;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #282c34;
    border-radius: 20px;

}

.container_bugs_posts {
    width: 100%;
    height: max-content;
    padding: 10px 20px;
    background-color: var(--body-color);
    box-shadow: var(--box-shadow-color);
}

.header_posts {
    padding: 10px;

    display: grid;
    grid-template-columns: 20% 10% 30% 40%;
    background-color: #3f4355;
    border-radius: 4px;

    margin-bottom: 8px;
}

.header_posts h5 {
    margin-right: 8px;
    color: white;
}

.container_row_post {

    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.row_post {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 10% 30% 40%;
    color: #aaa;
    align-items: center;
    transition: background .3s ease-in-out;
}

.row_post:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.row_post p {
    margin-right: 8px;
}

.color_error {
    color: red;
}

.bug_details {
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 8px;
    width: 100%;
    box-shadow: var(--box-shadow-color);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.bug_details h2 {
    color: #aaa;
}

.bug_details p {
    color: #aaa;
}

.bug_details p strong {
    color: #aaa;
}

header nav {
    display: flex;
    gap: 14px;
    align-items: center;
}

.btn_nav {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
}

.btn_nav a {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn_nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* /////////////////////////////////////////////////////////// */

.bug_details pre {
    color: #fff;
    background: #000;
    padding: 15px;
    border-radius: 5px;
}

.bug_details h1 {
    font-size: 22px;
    font-weight: bold;
    color: #aaa;
}

.bug_details h2 {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
}

.bug_details h3 {
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
}

.bug_details ul {
    font-size: 14px;
    font-weight: bold;
    color: #aaa;

    padding: 10px 40px;
}

.bug_details ul li {
    padding: 10px 0px;
}

.bug_details a {
    color: blue;
}


.menu_drop {
    padding: 10px;
    background-color: var(--body-color);
    width: 200px;
    height: 90px;
    position: absolute;
    border-radius: 8px;
    bottom: -106px;
    right: -14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--box-shadow-color);
}


nav {
    position: relative;
}

.option_menu_drop {
    color: #aaa;
    cursor: pointer;
    width: 100%;
    height: 49%;
    border-radius: 4px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.option_menu_drop a {
    color: #aaa;
    text-decoration: none;
}

.hide {
    display: none;
}